<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MonitorTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MonitorTools.Properties.Settings>
            <setting name="SIPServerUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="SIPServerPort" serializeAs="String">
                <value />
            </setting>
            <setting name="SIPEncoding" serializeAs="String">
                <value />
            </setting>
            <setting name="SIPAccount" serializeAs="String">
                <value />
            </setting>
            <setting name="SipLoginCP" serializeAs="String">
                <value />
            </setting>
            <setting name="Second" serializeAs="String">
                <value />
            </setting>
            <setting name="Photo" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </MonitorTools.Properties.Settings>
    </userSettings>
</configuration>